.idea
.cursorrules
package-lock.json
src/routeTree.gen.ts
public/**/*.zip
public/**/*.ico
public/**/*.png
public/**/*.svg
public/**/*.jpg
.vscode

node_modules
.DS_Store
dist
dist-ssr
*.local
count.txt
.env
.nitro
.tanstack
.wrangler
.output
.vinxi
todos.json
